html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  max-width: 168rem;
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-family: sans-serif;
  font-size: 6rem;
  font-weight: 700; }

h2 {
  font-family: sans-serif;
  font-size: 4rem; }

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6; }

.btn {
  border-radius: 0.4rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  background-color: white;
  padding: 1rem 3rem; }

.slide-btn {
  width: 4rem;
  height: 4rem;
  background-color: #064545;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  outline: none;
  border: none; }
  .slide-btn button {
    text-align: center;
    flex: 1; }
  .slide-btn__btn-left {
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%; }
  .slide-btn__btn-right {
    position: absolute;
    transform: translate(50%, -50%);
    top: 35%;
    right: 0; }
  .slide-btn .arr-icon-slide {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
    margin-right: auto; }

.arr-icon-link {
  fill: #064545;
  width: 1.5rem;
  height: 1.5rem; }

.card {
  border-radius: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px #f4f3f0 solid; }
  .card .card__image {
    width: 100%;
    height: 28rem; }
    .card .card__image img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .card .card__description {
    padding: 1.5rem 3rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between; }
  .card .card__heading {
    color: #064545;
    margin-bottom: 2rem; }
  .card .card__info {
    display: flex; }
    .card .card__info span {
      color: grey;
      font-size: 1.4rem; }
    .card .card__info > *:not(:last-child) {
      margin-right: 2rem; }

.card-carousel {
  background-color: white;
  padding: 14rem 11.5%;
  position: relative; }
  .card-carousel .card-carousel__heading {
    margin-bottom: 7rem; }

.main-heading {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  color: #064545; }
  .main-heading .main-heading__text {
    margin-right: auto; }
  .main-heading .main-heading__link:link,
  .main-heading .main-heading__link:visited {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none; }
  .main-heading .main-heading__icon {
    margin-left: 2rem;
    transform: translateY(-2px); }

.link:link,
.link:focus,
.link:visited {
  color: white;
  text-decoration: none; }

.search {
  display: flex;
  overflow: hidden; }
  .search__input {
    border: none;
    padding: 1.75rem 3rem;
    width: 100%;
    background-color: #f4f3f0;
    border-radius: 4rem;
    font-size: 1.2rem;
    margin-right: -4.25rem; }
    .search__input:focus {
      outline: none;
      border: none; }
  .search .search__btn {
    background-color: inherit;
    border: none; }
    .search .search__btn:focus, .search .search__btn:visited {
      outline: none; }
    .search .search__btn .search__icon {
      fill: #064545;
      width: 2rem;
      height: 2rem; }

.slideshow-4main {
  position: relative; }
  .slideshow-4main .slideshow__slides {
    display: flex; }
    .slideshow-4main .slideshow__slides > *:not(:last-child) {
      margin-right: 3rem; }
  .slideshow-4main .slideshow__item {
    flex: 1;
    max-width: 25%;
    display: flex;
    align-items: stretch; }

.slide-in {
  width: 4rem;
  height: 100%;
  position: relative;
  align-self: stretch; }
  .slide-in .slide-in__activator {
    height: 100%;
    text-align: center;
    display: flex; }
  .slide-in .slide-in__checkbox {
    display: none; }
  .slide-in .slide-in__icon-container {
    margin: 0;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center; }
    .slide-in .slide-in__icon-container:hover {
      cursor: pointer; }
  .slide-in .slide-in__icon {
    position: relative;
    margin-left: auto;
    margin-right: auto; }
    .slide-in .slide-in__icon, .slide-in .slide-in__icon::after, .slide-in .slide-in__icon::before {
      display: inline-block;
      width: 2.5rem;
      height: 2px;
      border-radius: 1px;
      background-color: #064545; }
    .slide-in .slide-in__icon::after, .slide-in .slide-in__icon::before {
      content: "";
      position: absolute;
      left: 0; }
    .slide-in .slide-in__icon::after {
      top: 0.9rem; }
    .slide-in .slide-in__icon::before {
      top: -0.9rem; }
  .slide-in .slide-in__list {
    display: none;
    box-shadow: 0 0 2rem gray;
    position: absolute;
    top: 100%;
    left: 0;
    text-decoration: none;
    list-style: none; }
  .slide-in .slide-in__item {
    padding: 0.5rem;
    background-color: #f4f3f0;
    width: 20vw; }
    .slide-in .slide-in__item:hover {
      border: 1px soild black;
      background-color: grey; }
  .slide-in .slide-in__link {
    font-size: 1.5rem; }
    .slide-in .slide-in__link:link, .slide-in .slide-in__link:visited, .slide-in .slide-in__link:active {
      text-decoration: none;
      color: inherit; }

.footer {
  padding: 3rem 11.5%;
  background-color: #064545;
  color: white; }
  .footer .header-holder {
    padding: 6rem 0;
    display: flex;
    border-bottom: 1px grey solid; }
  .footer .header {
    flex: 1; }
    .footer .header h2 {
      color: #d6e666; }
    .footer .header h3 {
      color: grey; }
  .footer .mobile-assets .mobile-assets__text {
    font-size: 1.9rem; }
  .footer .mobile-assets .asset-holder {
    margin-top: 2rem;
    text-align: end; }
  .footer .content-holder {
    padding: 4rem 0;
    border-bottom: 1px grey solid;
    display: flex; }
  .footer .link-legal {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between; }
  .footer .footer__link-list {
    list-style: none;
    margin: 0; }
    .footer .footer__link-list li {
      font-size: 1.5rem;
      font-weight: 700; }
      .footer .footer__link-list li:not(:last-child) {
        padding-bottom: 2rem; }
    .footer .footer__link-list a {
      color: #bae4ee; }
    .footer .footer__link-list a:hover,
    .footer .footer__link-list a:visited {
      text-decoration: none;
      filter: brightness(85%); }
  .footer .footer__legal-list {
    list-style: none;
    margin: 0; }
    .footer .footer__legal-list li {
      font-size: 1.5rem; }
      .footer .footer__legal-list li:not(:last-child) {
        padding-bottom: 0.6rem; }
    .footer .footer__legal-list a {
      color: grey; }
    .footer .footer__legal-list a:hover,
    .footer .footer__legal-list a:visited {
      text-decoration: none;
      filter: brightness(85%); }
  .footer .in-contact {
    margin-left: auto; }
  .footer .contact__text {
    font-size: 2.5rem; }
  .footer .contact__input {
    width: 100%; }

.on-mobile {
  background-color: sandybrown; }

.hero {
  height: 82rem;
  padding: 4rem 11.5%;
  display: flex;
  flex-direction: column; }
  .hero .bulletin {
    flex: 1;
    margin-bottom: 10rem;
    display: flex;
    align-items: stretch; }
    .hero .bulletin .gallery {
      background-image: linear-gradient(to right, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.3)), url(/images/picture-big-1.png);
      background-size: cover;
      border-radius: 1.5rem;
      flex-basis: 75%;
      margin-right: 3rem; }
      .hero .bulletin .gallery__content {
        margin-left: 8rem;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
      .hero .bulletin .gallery__heading {
        color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .hero .bulletin .gallery__btn {
        margin: 3rem 0; }
      .hero .bulletin .gallery__radio-container {
        display: flex;
        margin: 3.5rem 0; }
        .hero .bulletin .gallery__radio-container > *:not(:last-child) {
          margin-right: 1.2rem; }
    .hero .bulletin .menu {
      border-radius: 1.5rem;
      background-color: #064545;
      padding: 2rem;
      flex: 1;
      display: flex;
      flex-direction: column; }
      .hero .bulletin .menu > *:not(:last-child) {
        border-bottom: 1px grey solid; }
      .hero .bulletin .menu__header {
        color: #d6e666;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem; }
        .hero .bulletin .menu__header span {
          font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: 2px; }
      .hero .bulletin .menu__item {
        flex: 1;
        display: flex;
        align-items: center; }
      .hero .bulletin .menu__img-container {
        flex-shrink: 0;
        width: 8rem;
        height: 8rem;
        border-radius: 1.5rem;
        overflow: hidden;
        margin-right: 2rem; }
        .hero .bulletin .menu__img-container img {
          width: 100%;
          height: 100%; }
      .hero .bulletin .menu__text {
        color: white; }
  .hero .sections {
    height: 10rem;
    position: relative; }
    .hero .sections__slides {
      display: flex;
      width: 100%;
      height: 100%; }
      .hero .sections__slides > a:not(:last-child) {
        margin-right: 3rem; }
    .hero .sections__gallery-item {
      border-radius: 0.7rem;
      flex: 1;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(128, 128, 128, 0.3)), url(/images/card-photo-4.jpg);
      background-size: cover;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center; }
    .hero .sections__link {
      flex: 1;
      color: white; }
    .hero .sections__btn-left {
      margin: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%; }
    .hero .sections__btn-right {
      position: absolute;
      transform: translate(50%, -50%);
      top: 50%;
      right: 0; }

.navbar {
  margin-left: 2rem;
  margin-right: 5rem;
  height: 9rem;
  color: #064545;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .navbar .navbar__link-container {
    display: flex;
    margin-right: auto; }
  .navbar .navbar-link {
    padding-right: 3rem;
    padding-left: 3rem; }
    .navbar .navbar-link:link, .navbar .navbar-link:visited, .navbar .navbar-link:focus {
      text-decoration: none;
      outline: none;
      color: inherit; }
  .navbar .navbar__search-form {
    flex: 0 0 25%; }
  .navbar .social__item {
    height: 5rem;
    width: 5rem;
    margin-left: 3rem;
    border-radius: 50%; }
  .navbar .user {
    overflow: hidden; }
    .navbar .user img {
      height: 150%;
      object-fit: cover; }
  .navbar .shopping {
    background-color: #bae4ee;
    position: relative;
    display: flex;
    align-items: center; }
    .navbar .shopping a {
      flex: 1;
      display: flex;
      text-align: center; }
  .navbar .shopping__logo {
    flex: 1;
    height: 2.5rem;
    width: 2.5rem;
    fill: #064545; }
  .navbar .shopping__notification {
    height: 2.3rem;
    width: 2.3rem;
    background-color: orange;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border-radius: 100px;
    padding: 0.25rem;
    border: .3rem solid white;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.new-recipes {
  background-color: white;
  padding: 14rem 11.5%;
  position: relative; }
  .new-recipes .new-recipes__heading {
    margin-bottom: 7rem; }

.tips {
  background-color: #f4f3f0;
  padding: 20rem 11.5%;
  justify-content: flex-end; }
  .tips .tips__heading {
    margin: 5rem 0; }
  .tips .tip-container {
    display: flex; }
    .tips .tip-container > *:not(:last-child) {
      margin-right: 3rem; }
  .tips .tip {
    border-radius: 1.5rem;
    max-width: 25%;
    height: 40rem;
    padding: 1.5rem 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover; }
    .tips .tip h3 {
      color: #d6e666;
      font-size: 2rem; }
    .tips .tip--1 {
      background-image: url(/images/card-photo-1.png); }
    .tips .tip--2 {
      background-image: url(/images/card-photo-2.png); }
    .tips .tip--3 {
      background-image: url(/images/card-photo-3.png); }
    .tips .tip--4 {
      background-image: url(/images/card-photo-4.jpg); }

.video-gallery {
  padding: 5rem 11.5%; }
  .video-gallery .video-container {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    align-items: stretch; }
    .video-gallery .video-container > *:not(:last-child) {
      margin-right: 3rem; }
  .video-gallery .video {
    height: 30rem;
    background-color: yellowgreen;
    flex: 1;
    border-radius: 1.5rem;
    overflow: hidden; }
    .video-gallery .video iframe {
      width: 100%;
      height: 100%; }
