//COLORS
$color-white: white;

$color-grey-primary: #f4f3f0;
$color-grey-secondary: rgb(180, 199, 199);

$color-green-dark: #064545;

$color-yellow:#d6e666;

$color-blue:	#bae4ee;

//TYPOGRAPHY
$header-font-family: sans-serif;

//LAYOUT
$body-padding: 11.5%;
$column-gap: 3rem;

//ELEMENTS
$border-radius-big: 1.5rem;
$border-radius-small: 0.4rem;
$border-radius-medium: 0.7rem;
$border-bottom: 1px $color-grey-secondary solid;