//COLORS
$color-white: white;

$color-grey-primary: grey;

$color-green-dark: #064545;

$color-yellow:#d6e666;

//TYPOGRAPHY
$header-font-family: sans-serif;

//LAYOUT
$body-padding: 11.5%;
$column-gap: 3rem;

//ELEMENTS
$border-radius-big: 1.5rem;
$border-radius-small: 0.4rem;
$border-bottom: 1px $color-grey-primary solid;

