.footer {
    padding: 3rem $body-padding;
    padding-bottom: 0;
    background-color: $color-green-dark;
    color: $color-white;

    & > * {
        padding: 4rem 0;
    }

    .footer__header-holder {
        padding: 6rem 0;
        display: flex;
        border-bottom: $border-bottom;
    }

    .footer__header {
        flex: 1;

        h2 {
            color: $color-yellow;
        }

        h3 {
            color: $color-grey-secondary;
        }
    }

    .footer__mobile-assets {

        .mobile-assets__text {
            font-size: 1.9rem;
        }

        .footer__asset-holder {
            margin-top: 2rem;
            text-align: end;
        }
    }

    .content-holder {
        border-bottom: $border-bottom;

        display: flex;
    }

    .link-legal {
        flex-basis: 40%;
        
        display: flex;
        justify-content: space-between;
    }

    .footer__link-list {
        list-style: none;
        margin: 0;

        li {
            font-size: 1.5rem;
            font-weight: 700;

            &:not(:last-child) {
                padding-bottom: 2rem;
            }
        }

        a {
            color: $color-blue;
        }

        a:hover,
        a:visited {
            text-decoration: none;
            filter: brightness(85%);
        }
    }

    .footer__legal-list {
        list-style: none;
        margin: 0;

        li {
            font-size: 1.5rem;

            &:not(:last-child) {
                padding-bottom: 0.6rem;
            }
        }

        a {
            color: $color-grey-secondary;
        }

        a:hover,
        a:visited {
            text-decoration: none;
            filter: brightness(85%);
        }
        
    }

    .in-contact {
        margin-left: auto;
    }

    .contact__text {
        display: block;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .footer__form-group {
        display: flex;
        align-items: center;
    }

    .contact__input {
        background-color: transparent;
        border: 1px solid $color-grey-secondary;
        border-radius: 4rem;
        color: $color-grey-secondary;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 2rem 3rem;
        margin-right: -5rem;
        width: 100%;
    }

    .footer__btn {

        &,
        &:focus,
        &:visited {
            padding: 1rem;
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    .footer__arr-icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-grey-secondary;
    }

    .social-holder {
        display: flex;
        align-items: center;
        color: $color-grey-primary;
        font-size: 1.2rem;
    }

    .social__links {
        margin-right: 5rem;

        & > *:not(:last-child) {
            margin-right: 1.4rem;
        }
    }

    .copyright {
        margin-right: auto;

        .copyright__text {
        }
    }

    .design {

        a,
        a:link,
        a:focus {
            text-decoration: underline;
            color: inherit;
        }
    }
}