.navbar {
    background-color: greenyellow;
}

.on-mobile {
    background-color: sandybrown;
}

.fastest {
    background-color: slateblue;
}

.tips {
    background-color: springgreen;
}

.footer {
    background-color: yellow;
}