.new-recipes {
    background-color: white;
    padding: 14rem $body-padding;
    position: relative;

    .new-recipes__heading {
        margin-bottom: 7rem;
    }

    .new-recipes__slideshow {
        
    }
}