.tips {
    background-color: $color-grey-primary;
    padding: 20rem $body-padding;
    justify-content: flex-end;

    .tips__heading {
        margin: 5rem 0;
    }

    .tip-container {
        display: flex;

        & > *:not(:last-child) {
            margin-right: $column-gap;
        }

    }
    
    .tip {
        border-radius: $border-radius-big;
        max-width: 25%;
        height: 40rem;
        padding: 1.5rem 3rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: cover;

        h3 {
            color: $color-yellow;
            font-size: 2rem;
        }

        &--1 {
            background-image: url(/images/card-photo-1.png);
        }

        &--2 {
            background-image: url(/images/card-photo-2.png);
        }

        &--3 {
            background-image: url(/images/card-photo-3.png);
        }

        &--4 {
            background-image: url(/images/card-photo-4.jpg);
        }
    }
}