button {
    &,
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}

.btn {
    border-radius: $border-radius-small;
    font-size: 1.5rem;
    font-family: $header-font-family;
    background-color: white;
    padding: 1rem 3rem;
}

.slide-btn {
    width: 4rem;
    height: 4rem;
    background-color: $color-green-dark;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    outline: none;
    border: none;

    button {
        text-align: center;
        flex: 1;
    }

    &__btn-left {
        margin: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 35%;
    }

    &__btn-right {
        position: absolute;
        transform: translate(50%, -50%);
        top: 35%;
        right: 0;
    }

    .arr-icon-slide {
        fill: $color-white;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.arr-icon-link {
    fill: $color-green-dark;
    width: 1.5rem;
    height: 1.5rem;
}

.radio-btn {
    
}

.social__btn {
    background: linear-gradient(rgba(black, 0.6),rgba(black, 0.6));
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;

    .social__icon {
        fill: $color-grey-primary;
        width: 1.75rem;
        height: 1.75rem;
    }
}