.card-carousel {
    background-color: white;
    padding: 14rem $body-padding;
    position: relative;

    .card-carousel__heading {
        margin-bottom: 7rem;
    }

    .card-carousel__slideshow {
        
    }
}