.search {
    display: flex;
    overflow: hidden;

    &__input {
        border: none;
        padding: 1.75rem 3rem;
        width: 100%;
        color: $color-green-dark;
        background-color: $color-grey-primary;
        border-radius: 4rem;
        font-size: 1.2rem;
        margin-right: -4.25rem;

        &:focus {
            outline: none;
            border: none;
        }
    }

    .search__btn {
        background-color: inherit;
        border: none;
    
        &:focus,
        &:visited {
            outline: none;
        }
        
        .search__icon {
            fill: $color-green-dark;
            width: 2rem;
            height: 2rem;
        }
    }
}