h1 {
    font-family: $header-font-family;
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-family: $header-font-family;
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
}

h4 {
}